{% if view_type == 'grid' or view_type == 'carousel' %}
	{% set modify_class = (view_type == 'grid')? 'type-grid grid-cols-' ~ grid_cols : 'type-carousel' %}

	<div class="cfg-viewer {{ modify_class }}" id="cfg-viewer-{{ mod_index }}">
		{% if module_title %}
		<h3 class="cfg-mod-title">{{ module_title }}</h3>
		{% endif %}
		<div class="cfg-presets-wrap">
		{% for preset in cfg_presets %}
			<div class="cfg-preset">
				{% if vsbl_img %}
				<div class="cfg-prst-img"><img src="{{ preset['image'] }}" alt="{{ preset['name'] }}" /></div>
				{% endif %}
				{% if vsbl_rating %}
				<div class="cfg-prst-rating">
					{% for i in 1..5 %}
						{{ (i <= preset['avg_rating'])? '<span class="r-star">&#9733;</span>' : '<span class="r-star void">&#9733;</span>' }}
					{% endfor %}
				</div>
				{% endif %}
				{% if vsbl_reviews or vsbl_views %}
				<div class="cfg-prst-stat">
					{% if vsbl_reviews %}
					<span class="rvw-num">
						{{ preset['reviews_num'] }} <svg class="cfg-icon" role="img"><use xlink:href="#i-svg-comment" /></svg>
					</span>
					{% endif %}
					{% if vsbl_views %}
					<span class="vws-num">
						{{ preset['views_num'] }} <svg class="cfg-icon" role="img"><use xlink:href="#i-svg-eye" /></svg>
					</span>
					{% endif %}
				</div>
				{% endif %}
				{% if vsbl_title %}
				<h4 class="cfg-prst-title {{ title_class }}"><a href="{{ preset['link'] }}">{{ preset['name'] }}</a></h4>
				{% endif %}
				{% if vsbl_desc and preset['brief_desc']|trim %}
				<div class="cfg-prst-desc">{{ preset['brief_desc'] }}</div>
				{% endif %}
			</div>
			{% endfor %}
		</div>
	</div>
{% elseif view_type == 'list' %}
	<div class="cfg-viewer type-list" id="cfg-viewer-{{ mod_index }}">
		{% if module_title %}
		<h3 class="cfg-mod-title">{{ module_title }}</h3>
		{% endif %}
		<ul class="cfg-presets-wrap">
		{% for preset in cfg_presets %}
			<li class="cfg-preset">
				{% if vsbl_img and vsbl_rating and vsbl_reviews and vsbl_views %}
				<div class="extra">
					{% if vsbl_img %}
					<div class="cfg-prst-img"><img src="{{ preset['image'] }}" alt="{{ preset['name'] }}" /></div>
					{% endif %}
					{% if vsbl_rating %}
					<div class="cfg-prst-rating">
						{% for i in 1..5 %}
							{{ (i <= preset['avg_rating'])? '<span class="r-star">&#9733;</span>' : '<span class="r-star void">&#9733;</span>' }}
						{% endfor %}
					</div>
					{% endif %}
					{% if vsbl_reviews or vsbl_views %}
					<div class="cfg-prst-stat">
						{% if vsbl_reviews %}
						<span class="rvw-num">
							{{ preset['reviews_num'] }} <svg class="cfg-icon" role="img"><use xlink:href="#i-svg-comment" /></svg>
						</span>
						{% endif %}
						{% if vsbl_views %}
						<span class="vws-num">
							{{ preset['views_num'] }} <svg class="cfg-icon" role="img"><use xlink:href="#i-svg-eye" /></svg>
						</span>
						{% endif %}
					</div>
					{% endif %}
				</div>
				{% endif %}
				<div class="basic">
					{% if vsbl_title %}
					<h4 class="cfg-prst-title {{ title_class }}"><a href="{{ preset['link'] }}">{{ preset['name'] }}</a></h4>
					{% endif %}
					{% if vsbl_desc and preset['brief_desc']|trim %}
					<div class="cfg-prst-desc">{{ preset['brief_desc'] }}</div>
					{% endif %}
				</div>
			</li>
		{% endfor %}
		</ul>
	</div>
{% endif %}

<script type="text/javascript">
{% if is_cfg_page %}
	$('#cfg-viewer-{{ mod_index }} .cfg-preset').each(function() {
		$(this).find('.cfg-prst-title > a, .cfg-prst-img > img').on('click', function(e) {
			if(typeof cfg.loadPage === 'function') {
				e.preventDefault();
			
				var cfgURL = ($(this).is('a'))? $(this).attr('href') : $(this).parents('.cfg-preset').find('.cfg-prst-title > a').attr('href');
				var cfgPath = cfgURL.slice(cfgURL.search(/s\d+\=\d+q.+$/), cfgURL.lenght);
				var currURL = window.location.href;
				var currPath = currURL.slice(currURL.search(/s\d+\=\d+q.+$/), currURL.lenght);
				var trgTop = cfg.$mainTitle.offset().top;
				
				$('html, body').animate({scrollTop: trgTop}, {
					duration: 500,
					easing: 'swing'
				});
				
				if(cfgPath != currPath) {
					cfg.loadPage(cfgPath, true);
				}
			}
		});
	});
{% else %}
	$('#cfg-viewer-{{ mod_index }} .cfg-prst-img > img').on('click', function() {
		window.location.href = $(this).parents('.cfg-preset').find('.cfg-prst-title > a').attr('href');
	});
{% endif %}
{% if view_type == 'carousel' %}
<!--swiper 3.4.x-->
	var $cfgViewer = $('#cfg-viewer-{{ mod_index }}');
	var crslOptions = {
		slidesPerView: {{ crsl_items }},
		autoplay: {{ crsl_autoplay }},
		speed: {{ crsl_speed }},
		loop: true,
		autoplayDisableOnInteraction: false,
		breakpoints: {
			979: { slidesPerView: 3 },
			672: { slidesPerView: 2 },
			448: { slidesPerView: 1 }
		}
	};

	$cfgViewer.addClass('swiper-container')
		.find('.cfg-presets-wrap').addClass('swiper-wrapper')
		.find('.cfg-preset').wrap('<div class="swiper-slide"></div>');
	
	{% if crsl_nav %}
	crslOptions.nextButton = '#cfg-crsl-next-{{ mod_index }}';
	crslOptions.prevButton = '#cfg-crsl-prev-{{ mod_index }}';
	$cfgViewer.append(
		'<div class="crsl-control">'+
			'<span id="cfg-crsl-prev-{{ mod_index }}" class="crsl-bttn-prev">'+
				'<svg class="cfg-icon" role="img"><use xlink:href="#i-svg-chevron-left"/></svg>'+
			'</span>'+
			'<span id="cfg-crsl-next-{{ mod_index }}" class="crsl-bttn-next">'+
				'<svg class="cfg-icon" role="img"><use xlink:href="#i-svg-chevron-right"/></svg>'+
			'</span>'+
		'</div>'
	);
	{% endif %}
	{% if crsl_pagination %}
	crslOptions.pagination = '#cfg-crsl-pagination-{{ mod_index }}';
	crslOptions.paginationHide = false;
	crslOptions.paginationClickable = true;
	$cfgViewer.append('<div id="cfg-crsl-pagination-{{ mod_index }}" class="swiper-pagination"></div>');
	{% endif %}
	
	$cfgViewer.swiper(crslOptions);
<!--/swiper-->
{% endif %}
</script>
<svg id="cfg-viewer-ico-sprite" style="display:none;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	<symbol viewBox="0 0 24 24" id="i-svg-eye">
		<path fill="currentColor" d="M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M12,4.5C17,4.5 21.27,7.61 23,12C21.27,16.39 17,19.5 12,19.5C7,19.5 2.73,16.39 1,12C2.73,7.61 7,4.5 12,4.5M3.18,12C4.83,15.36 8.24,17.5 12,17.5C15.76,17.5 19.17,15.36 20.82,12C19.17,8.64 15.76,6.5 12,6.5C8.24,6.5 4.83,8.64 3.18,12Z" />
	</symbol>
	<symbol viewBox="0 0 24 24" id="i-svg-comment">
		<path fill="currentColor" d="M20,2H4A2,2 0 0,0 2,4V22L6,18H20A2,2 0 0,0 22,16V4A2,2 0 0,0 20,2M6,9H18V11H6M14,14H6V12H14M18,8H6V6H18" />
	</symbol>	
	<symbol viewBox="0 0 24 24" id="i-svg-chevron-left">
		<path fill="currentColor" d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z" />
	</symbol>
	<symbol viewBox="0 0 24 24" id="i-svg-chevron-right">
		<path fill="currentColor" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
	</symbol>
</svg>