{% if (product_mrps is defined) %} 
	{% if (product_mrps) %} 
		<ul class="nav nav-tabs ultitlemrpprod">
			{% set mrp_row = 1 %} 
			{% for product_mrp in product_mrps %} 
				<li {% if (mrp_row == 1) %} class="active"{% endif %}><a href="#mrp-tab-{{ product_mrp['table_id'] }}" data-toggle="tab">{{ product_mrp['title'] }}</a></li>
			{% set mrp_row = mrp_row + 1 %} 
			{% endfor %} 
		</ul>
		<div class="row">
			<div class="col-sm-12">
				<div class="tab-content">
					{% set mrp_row = 1 %} 
					{% for product_mrp in product_mrps %} 
						<div class="tab-pane {% if (mrp_row == 1) %}in active{% endif %}" id="mrp-tab-{{ product_mrp['table_id'] }}">
							{% if (desc_status) %} 
								{{ product_mrp['description'] }} 
							{% endif %} 
								<div class="row">
									{% for product in product_mrp['table_product'] %} 
										  <div class="product-layout col-lg-2 col-md-2 col-sm-4 col-xs-6">
											<div class="product-thumb transition blockmainmrprod">
												<h4 class="h4titlemrpprod"><a href="{{ product['href'] }}">{{ product['name'] }}</a></h4>
											  <div class="image"><a href="{{ product['href'] }}"><img src="{{ product['thumb'] }}" alt="{{ product['name'] }}" title="{{ product['name'] }}" class="img-responsive" /></a></div>
											  <div class="caption">
												{% if (product['price']) %} 
												<p class="price pricemrpprod">
												  {% if (not product['special']) %} 
												  {{ product['price'] }} 
												  {% else %} 
												  <span class="price-new">{{ product['special'] }}</span> <span class="price-old">{{ product['price'] }}</span>
												  {% endif %} 
												  {% if (product['tax']) %} 
												  <span class="price-tax">{{ text_tax }} {{ product['tax'] }}</span>
												  {% endif %} 
												</p>
												{% endif %} 
											  </div>
											  <div class="button-group">
												<button class="buymrpprod-button" type="button" onclick="cart.add('{{ product['product_id'] }}');"><span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
												<button class="wishcommrpprod-css" type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product['product_id'] }}');"><i class="fa fa-heart"></i></button>
												<button class="wishcommrpprod-css" type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product['product_id'] }}');"><i class="fa fa-exchange"></i></button>
											  </div>
											</div>
										  </div>
									{% endfor %} 
								</div>
						</div>
						{% set mrp_row = mrp_row + 1 %} 
					{% endfor %} 
				</div>
			</div>
		</div>
	{% endif %} 
{% endif %}