<footer>
  <div class="container">
    <div class="row">
      {% if informations %}
      <div class="col-sm-3">
        <h5>{{ text_information }}</h5>
        <ul class="list-unstyled">
         {% for information in informations %}
          <li><a href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div class="col-sm-3">
        <h5>{{ text_service }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          <li><a href="{{ return }}">{{ text_return }}</a></li>
          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_extra }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
          <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
          <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
          <li><a href="{{ special }}">{{ text_special }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_account }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ account }}">{{ text_account }}</a></li>
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p>{{ powered }}</p>

            {% if yoomoney_kassa_show_in_footer is defined and yoomoney_kassa_show_in_footer %}
            <p><a href="https://yookassa.ru/?_openstat=promo;merchants;opencart3">Работает ЮKassa</a></p>
            {% endif %}
            
  </div>
{{ microdatapro }} {% set microdatapro_main_flag = 1 %} {# microdatapro 7.7 - 1 - main #}
</footer>
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->

                <link href="catalog/view/javascript/hover-img-additional/jquery.hover-carousel.css" rel="stylesheet">
                <script src="catalog/view/javascript/hover-img-additional/jquery.hover-carousel.js"></script>
                <script>$(document).ready(function() {$(".product-item__image>a").HoverMouseCarousel();});</script>
            

               {% if ldev_question_custom_css %}
            <style>
                {{ ldev_question_custom_css }}
            </style>
            {% endif %}


            {% if ldev_question_custom_js %}
            <script>
                $(function () {
                    {{ ldev_question_custom_js }}
                });
            </script>
            {% endif %}



            
{% if (microdatapro_main_flag is not defined) %}{{ microdatapro }} {% set microdatapro_main_flag = 1 %}{% endif %} {# microdatapro 7.7 - 2 - extra #}
{% if (microdatapro_main_flag is not defined) %}{{ microdatapro }}{% endif %} {# microdatapro 7.7 - 3 - extra #}
    
            {% if smartsearch %}       
            <link href="catalog/view/theme/default/stylesheet/smartsearch.css" type="text/css" rel="stylesheet"/>

            <script type="text/javascript"> 

                 $(document).on('keyup', '{{ smartsearch_field }}', function(e) {
                    if (e.keyCode == 40 || e.keyCode == 38) {
                        return;
                    }

                    var search = $(this).val();
                    var input = $(this);

                    $.ajax({
                        url: 'index.php?route=extension/module/smartsearch',
                        type: 'post',
                        data: 'search=' + search,
                        dataType: 'json',
                        beforeSend: function() {                                    
                        },
                        complete: function() {                                    
                        },
                        success: function(json) {
                        //alert(json)

                        if (input.parent().find('.smartsearch').length == 0) {
                            input.after('<div class="smartsearch"></div>');
                        }

                        
                        if (json['html']) {
                            $('.smartsearch').html(json['html']);
                            $('.smartsearch').show();
                        } else {
                            $('.smartsearch').html('');
                            $('.smartsearch').hide();
                        }
                        
                        
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                        //alert(thrownError + " " + xhr.statusText + " " + xhr.responseText);
                        }
                    });

                });


                $(document).on('keyup', '{{ smartsearch_field }}', function(e) {
                    var smartsearch = $(this).parent().find('.smartsearch');
                    if (e.keyCode == 40) {
                        if (smartsearch.find('.item').length > 0) {
                            if (smartsearch.find('.item.current').length == 0) {                                        
                                smartsearch.find('.item').first().addClass('current')
                            } else {
                                var el = smartsearch.find('.item.current');
                                el.removeClass('current');
                                if (el.next().length == 0) {
                                    smartsearch.find('.item').first().addClass('current')
                                } else {
                                    el.next().addClass('current');
                                }                                        
                            }
                            $(this).val(smartsearch.find('.item.current').attr('search_name'));

                        }                                
                    }
                    if (e.keyCode == 38) {
                        if (smartsearch.find('.item').length > 0) {
                            if (smartsearch.find('.item.current').length == 0) {                                    
                                smartsearch.find('.item').last().addClass('current')
                            } else {
                                var el = smartsearch.find('.item.current');
                                el.removeClass('current');
                                if (el.prev().length == 0) {
                                    smartsearch.find('.item').last().addClass('current')
                                } else {
                                    el.prev().addClass('current');
                                }                                        
                            }
                            $(this).val(smartsearch.find('.item.current').attr('search_name'));
                        }
                    }
                });


               

                $(document).on('focus', '{{ smartsearch_field }}', function(e) {  
                    var smartsearch = $(this).parent().find('.smartsearch');
                    if (smartsearch.find('.items>.item').length > 0) {
                        smartsearch.show();
                    }
                }); 

                $(document).mouseup(function (e) {
                    var container = $('{{ smartsearch_field }}');                    
                    if (!container.is(e.target) && container.has(e.target).length === 0) { 
                        container.parent().find('.smartsearch').hide();
                    }
                });

            </script>
            {% endif %}
            
</body></html>