{{ header }}
<div id="affiliate-login">
  <div class="bg-container">
    <div class="container">
      <div class="navigation-content">
        <ul class="breadcrumb">
          {% for i,breadcrumb in breadcrumbs %} 
          {% if (i+1<breadcrumbs|length) %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
          {% else %}
          <li>{{ breadcrumb.text }}</li>
          {% endif %} 
          {% endfor %}	
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content-wrapper">
      {% if success %}
      <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
      {% endif %}
      {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
      {% endif %}
      <div class="row">
        {{ column_left }}
        {% if column_left and column_right %}
        {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
        {% set class = 'col-sm-9' %}
        {% else %}
        {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">
          {{ content_top }}
          <h1>{{ heading_title }}</h1>
          <div class="alert alert-info">{{ text_description }}</div>
          <div class="row">
            <div class="col-sm-5">
              <h2>{{ text_new_affiliate }}</h2>
              <div class="affiliate-form">{{ text_register_account }} <a class="btn btn-primary" href="{{ register }}">{{ button_continue }}</a></div>
            </div>
            <div class="col-sm-7">
              <h2>{{ text_returning_affiliate }}</h2>
              <div>
                <form action="{{ action }}" method="post" enctype="multipart/form-data">
                  <div class="form-group flex flex-wrap-media">
                    <label class="form-label control-label" for="input-email">{{ entry_email }}</label>
                    <div class="form-input">
                      <input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
                    </div>
                  </div>
                  <div class="form-group flex flex-wrap-media">
                    <label class="form-label control-label" for="input-password">{{ entry_password }}</label>
                    <div class="form-input">
                      <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" />
                      <a href="{{ forgotten }}" class="forgot-link">{{ text_forgotten }}</a> 
                    </div>
                  </div>
                  <input type="submit" value="{{ button_login }}" class="btn btn-primary" />
                  {% if redirect %}
                  <input type="hidden" name="redirect" value="{{ redirect }}" />
                  {% endif %}
                </form>
              </div>
            </div>
          </div>
          {{ content_bottom }}
        </div>
        {{ column_right }}
      </div>
    </div>
  </div>
</div>
{{ footer }}