{{ header }}

<div id="common-home">
  <div class="home-content">
    <div class="container">
      <div class="row">
      
      
      <section class="videointer">
        <div class="h4-pmvideoheadtit">
        <h1>Магазин напольных покрытий Polmetra</h1>
        <br>
        <div class="decrip-frbg">Шоурум - 500 метров от м. Ботанический сад</div>
        <div>Более 70 000 отделочных материалов в одном месте.
        <br>
        Сэкономьте время, нервы и деньги, вместе с Polmetra.ru</div></div>
        <div class="interiordiv" style="width: 100%; left: 361.5px; top: 412px; height: 680px;"> <div class="tn-atom tn-atom__html tn-atom__htmlheight"> <video style="object-fit: cover; background-size: cover; width: 100%; height: 100%" preload="auto" playsinline="" autoplay="" loop="" muted="" async=""> <source async="" src="catalog/view/image/interior.mp4"></video><style>.player{ webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%); webkit-transform: rotate(0.000001deg); overflow: hidden; }</style> </div> </div>
        
        </section>
        <section class="catalog-home">
    <div class="container">
            <div class="catalog-he-home">
                <span>Каталог продукции</span>
            </div>
        <div class="row">
            <div class="col-md-3 col-xs-6 nopadding">
                <div class="box-category-wall">
                    <div class="image">
                        <a href="/mezhkomnatnye-dveri/">
                            <img src="/image/catalog/home-imgcatalog/6ce8cfc17077c0e3773c221ec54b7fa3.jpg">
                            <p class="name"><span>Межкомнатные<br>двери</span></p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 nopadding">
                <div class="box-category-wall">
                    <div class="image">
                        <a href="/mezhkomnatnye-dveri/sistemy-otkryvaniya/">
                            <img src="/image/catalog/home-imgcatalog/1452952900-506942101.jpg">
                            <p class="name"><span>Системы<br>открывания</span></p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 nopadding">
                <div class="box-category-wall">
                    <div class="image">
                        <a href="/vhodnye-dveri-1/">
                            <img src="/image/catalog/home-imgcatalog/ioshkar_1.jpg">
                            <p class="name"><span>Входные<br>двери</span></p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 nopadding">
                <div class="box-category-wall">
                    <div class="image">
                        <a href="/mezhkomnatnye-dveri/furnitura/">
                            <img src="/image/catalog/home-imgcatalog/ruchka.jpg">
                            <p class="name"><span>Фурнитура<br>для дверей</span></p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 nopadding">
                <div class="box-category-wall">
                    <div class="image">
                        <a href="/parketnaya-doska/">
                            <img src="/image/catalog/home-imgcatalog/barlinek_senses_dub_intense_1.jpg">
                            <p class="name"><span>Паркетная<br>доска</span></p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 nopadding">
                <div class="box-category-wall">
                    <div class="image">
                        <a href="/laminat/">
                            <img src="/image/catalog/home-imgcatalog/laminat-v-interere13.jpg">
                            <p class="name"><span>Ламинат</span></p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 nopadding">
                <div class="box-category-wall">
                    <div class="image">
                        <a href="/vinilovyj-pol/">
                            <img src="/image/catalog/home-imgcatalog/vinil-350x350.jpg">
                            <p class="name"><span>Виниловый<br>пол</span></p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 nopadding">
                <div class="box-category-wall">
                    <div class="image">
                        <a href="/inzhenernaya-doska/">
                            <img src="/image/catalog/home-imgcatalog/injener-parket-doska-14.jpg">
                            <p class="name"><span>Инженерная<br>доска</span></p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 nopadding">
                <div class="box-category-wall">
                    <div class="image">
                        <a href="/massivnaya-doska/">
                            <img src="/image/catalog/home-imgcatalog/74435211_2822077_oak1.jpg">
                            <p class="name"><span>Массивная<br>доска</span></p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 nopadding">
                <div class="box-category-wall">
                    <div class="image">
                        <a href="/probkovyj-pol/">
                            <img src="/image/catalog/home-imgcatalog/probka-350x350.jpg">
                            <p class="name"><span>Пробковый<br>пол</span></p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 nopadding">
                <div class="box-category-wall">
                    <div class="image">
                        <a href="/aksessuary/">
                            <img src="/image/catalog/home-imgcatalog/category-3-350x350.png" "="">
                            <p class="name"><span>Сопутствующие<br>товары</span></p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 nopadding">
                <div class="box-category-wall">
                    <div class="image">
                        <a href="/teplyj-pol-1/">
                            <img src="/image/catalog/home-imgcatalog/1530362765148278419.jpg">
                            <p class="name"><span>Теплый<br>пол</span></p>
                        </a>
                    </div>
                </div>
            </div>
            
            
            
        </div>
        
   		 </div>
	</section>
	<div class="description-block se-otxt">
    
    
    
    <div class="block-se-txt"><p>Выбор напольного покрытия, как правило, занимает немало времени. Это неудивительно, ведь ремонт пола довольно трудоемкий и длительный процесс, который хочется закончить как можно быстрее. Интернет-магазин напольных покрытий Polmetra.ru поможет подобрать ламинат, паркетную доску и даже межкомнатные двери на любой вкус и доставит товары в самые короткие сроки.</p></div>

<h2>Ассортимент каталога</h2>

<p>Покрытие для пола - одна из главных составляющих удобства и комфорта. Хотите, чувствовать себя уютно в гостиной, спальне и даже ванной комнате? Тогда Вам точно к нам!
На сайте интернет магазина Polmetra.ru представлены более 7 тысяч товаров, а именно:</p>

<ul>

<li><a href="/laminat/">Ламинат</a> - универсальная поверхность, которая будет служить более 20 лет и не принесет владельцу никаких проблем. Такое покрытие полностью экологично и имеет большой ассортиментный ряд;</li>
<li><a href="/parketnaya-doska/">Паркетная доска</a> – натуральное покрытие, проверенное годами. Представляет собой планки из ценных пород дерева (ламели), которые склеены между собой. Такая многослойность позволяет обеспечить прочность и устойчивость к нагрузкам на длительный срок;</li>
<li><a href="/vinilovyj-pol/">Кварцвиниловый пол</a> – самый современный вид покрытия, который отличается устойчивостью к перепадам температур и повышенной влажности. Изготовлен из ПВХ и стекловолокна, а также имеет внешний декоративный слой. Изюминка виниловой плитки – разнообразие фактур и дизайнов, что дает возможность подобрать стильное покрытие в любой интерьер;</li>
<li><a href="/inzhenernaya-doska/">Инженерная доска</a> – классическое фанерное покрытие с привлекательным декоративным слоем. Подходит для самостоятельной укладки с применением клеевых составов;</li>
<li><a href="/probkovyj-pol/">Пробковые полы</a> – теплые и надежные панели, которые обеспечивают отличную звукоизоляцию. Такой пол имеет отличную стойкость к воде и вредителям и слегка пружинит при ходьбе;</li>
<li><a href="/aksessuary/plintus/">Плинтуса</a> и другие <a href="/aksessuary/">аксессуары</a>, которые помогут задекорировать стыки и неровности, а также осуществить укладку в самые короткие сроки.</li>
<!--<li>межкомнатные двери - Более 2600 моделей от производителей Bravo, ProfilDoors и Velldoris</li>
<li>Входные двери от российских производителей - Groff, Hausdoors, Ferroni, Citadel.</li>-->

</ul>

<p>Кроме этого, в каталоге сайта можно найти около 2000 моделей межкомнатных и входных дверей, что значительно упрощает процесс ремонта и позволяет максимально точно выбрать необходимый оттенок или стиль.</p>

<p>Мы работаем напрямую с производителями и являемся официальными диллерами таких торговых марок как <a href="/laminat/quick-step-2/">Quick Step</a>, <a href="/laminat/classen-1/">Classen</a>, <a href="/laminat/egger/">Egger</a>, <!--ProfilDoors, Bravo, --><a href="/parketnaya-doska/barlinek/">Barlinek</a>, <a href="/laminat/tarkett-1/">Tarkett</a>, <a href="/laminat/krono-original/">Krono Original</a>, <a href="/laminat/kronospan/">Kronospan</a>, <a href="/laminat/swiss-krono/">Swiss Krono</a>, <a href="/laminat/praktik/">Praktik</a>, <a href="/laminat/joss-beaumont/">Joss Beaumont</a><!--, Caleo-->, <a href="/laminat/kronotex/">Kronotex</a>.</p>

<h2>Наши услуги</h2>

<p>Хотите, чтобы процесс ремонта приносил одно лишь удовольствие? Мы предлагаем огромный спектр услуг, которые сделают вашу жизнь проще и избавят от лишних проблем. Наши сотрудники быстро и качественно осуществят:</p>
<ul>
<li>Подбор необходимого покрытия, учитывая стиль, цвет, фактуру и ценовую категорию;</li>
<li>Доставку и занос товаров в помещение;</li>
<li>Укладку и монтаж напольных покрытий с учетом всех норм и правил;</li>
<li>Установку входных и межкомнатных дверей, а также врезку дверной фурнитуры;</li>
<li>Отделку помещений декоративными стеновыми панелями;</li>
<li>Выбор материалов для монтажа конструкции «Теплый пол», а именно: консультацию специалиста.</li>
</ul>
<div class="block-se-txt"><p>Мы заботимся о каждом клиенте, поэтому предлагаем самые низкие цены и подробные консультации. Опытные специалисты нашего магазина помогут просчитать, какое количество материалов необходимо и предложат качественные напольные покрытия как зарубежных, так и отечественных производителей.
Приезжайте в шоурум нашей компании на станции метро Ботанический сад по адрессу: <b>пр-д Серебрякова 11к1</b>. Звоните, и мы не только расскажем, как к нам добраться, но и предоставим дополнительную скидку на первую покупку!</p></div>

    
    
    
    
    </div>
      
      
      
      {{ column_left }}
        {% if column_left and column_right %}
        {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
        {% set class = 'col-sm-9' %}
        {% else %}
        {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">{{ content_top }}{{ content_bottom }}</div>
        {{ column_right }}
      </div>
    </div>
  </div>
</div>
{{ footer }}