{{ header }}
<div id="account-wishlist">
  <div class="bg-container">
    <div class="container">
      <div class="navigation-content">
        <ul class="breadcrumb">
          {% for i,breadcrumb in breadcrumbs %} 
          {% if (i+1<breadcrumbs|length) %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
          {% else %}
          <li>{{ breadcrumb.text }}</li>
          {% endif %} 
          {% endfor %}	
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content-wrapper">
      {% if success %}
      <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
      {% endif %}
      <div class="row">
        {{ column_left }}
        {% if column_left and column_right %}
        {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
        {% set class = 'col-sm-9' %}
        {% else %}
        {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">
          {{ content_top }}
          <h1>{{ heading_title }}</h1>
          {% if products %}
          <div class="row">
            {% for product in products %}
            <div class="product-layout product-grid col-lg-3">
              <div class="product-item__wishlist">
                <div class="product-item">
                  <a href="{{ product.remove }}" title="{{ button_remove }}" class="remove-wishlist"><i class="fi fi-rr-trash"></i></a>
                  <div class="product-item__image">
                    <a href="{{ product.href }}" class="product-image">
                    <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" />		
                    </a>
                  </div>
                  <div class="product-item__title">
                    <a href="{{ product.href }}">{{ product.name }}</a>
                  </div>
                  <div class="product-item__info">
                    <div class="product-item__caption-block">
                      <div class="product-item__caption">
                        <div class="product-item__blocks">
                          {% if product.price %}
                          <div class="product-item__price">
                            {% if not product.special %}
                            <div class="product-price__main">
                              <span class="product-price__current">{{ product.price }}</span>
                            </div>
                            {% else %}
                            <div class="product-price__main">
                              <span class="product-price__current price-new">{{ product.special }}</span>
                            </div>
                            <div class="product-item-price-stock">
                              <div class="product-item-price-old">{{ product.price }}</div>
                            </div>
                            {% endif %}
                          </div>
                          {% endif %}
                          <div class="product-item-stock">
                            <div class="product-item__quantity">
                              <span class="product-item-stock-val">{{ product.stock }}</span>
                            </div>
                          </div>
                        </div>
                        <div class="product-button__container">
                          <button type="button" class="btn btn-buy" onclick="cart.add('{{ product.product_id }}', $(this).parent().parent().find('.product-item__amount-input').val());" title="{{ button_cart }}"><i class="fi fi-rr-shopping-cart"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          {% else %}
          <p>{{ text_empty }}</p>
          {% endif %}
          <div class="buttons clearfix">
            <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
          </div>
          {{ content_bottom }}
        </div>
        {{ column_right }}
      </div>
    </div>
  </div>
</div>
{{ footer }}